<ion-view view-title="Agenda">
  <ion-content class="padding">
    
    <div align="center">
      <h3>Event Name</h3>
    </div>

    <ion-list>

      <ion-item class="item-borderless" ng-repeat="date in dates">
        <h4 align="center">{{toLocaleDateString(date)}}</h4>

        <ion-list>
          <ion-item class="item-remove-animate item-icon-left" ng-repeat="lecture in getScheduledLecturesByDate(date)" type="item-text-wrap" href="#/tab/lectures/{{lecture.id}}">
              <ion-button class="icon {{lecture.scheduled ? 'ion-minus-circled' : 'ion-plus-circled'}}" style="color:red"
                          ng-click="setLectureSchedule(lecture, !lecture.scheduled)">
              </ion-button>

              <p>{{lecture.startTime.toLocaleTimeString()}}</p>

              <h2>{{lecture.title}}</h2>
              <p>{{getLectorName(lecture.lectorId)}}</p>

              <p style="color:bisque;float:right">{{lecture.difficulty}}</p>
          </ion-item>
        </ion-list>

      </ion-item>

    </ion-list>

    <div class="padding" align="center">
      <ion-button class="button icon-left button-clear ion-plus" style="color: lightgreen" ui-sref="tab.lectures">
        Add lectures
      </ion-button>
    </div>

  </ion-content>
</ion-view>